body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
}  
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
    border-radius: 2;
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    margin: auto;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2c2826 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.panel-heading {
    color: #fff !important;
    background-color: #2c2826 !important;
    padding: 2px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel {
    border: 1px solid #2c2826; 
    border-radius:2 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.jumbotron{
    background: url("img/header-background.jpg");
    background-size: cover;
    color: #fff;
    text-shadow: black 2px 2px;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

footer{

    background-color: #2c2826;
    color: #fff;
    padding: 5px;
    font-family: Montserrat, sans-serif;
    margin-left: 0;
    margin-right: 0;

}
.social-icons {
    text-align: center;
    }  
  .social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
  .social-icons li a {
    border-bottom: none;
    }
  .social-icons li img {
    width:25px;
    height:25px;
    margin: auto;
  }

  .social-icons li img:hover{
    opacity: 0.7;
  }

  .list-group li{
      list-style: none;
  }

  #profileImg{
      border-radius: 50%;
      border: #423f3e solid;
      padding: 1%;
  }
  .btn-default{
    margin-top: 20px;
    background-color: #2c282693;
    color: #fff;
    border: #0e0d0d solid 3px;
    border-radius: 28px;
    padding: 16px 31px;
   
}

.modal-header{
    background-color: #0e0d0d;
    color: white;
}

.close{
    color: #fff;
}

.modal{
    margin-top: 100px;
}

#message{
    margin-bottom: 8px;
}